footer.footer
  .footer__logo
    a.header__logo(href='/')
      img(src='/img/logo-green-small.png' alt='Natour logo')
  ul.footer__nav
      //- li: a(href='#') About Us
      li: a(href='#') Download app
      li: a(href='#').ma-left Become an instructor
      li: a(href='#').ma-left Careers
      li: a(href='#').ma-left Contact
  p.footer__copyright &copy; ChainScript.dev. All rights reserved.
