mixin mcq-4-4()
  main.sub
    .containers
      #Section1.tabcontent
        ul.quiz
          li.quiz-box
            h3 Question1: Look up the HTTP response status code 402, which was included in the list of HTTP response codes since the 1990s. Although it’s still reserved for future use, what was the original purpose of this response code?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question1' value='buffer')
                  span It was originally created to enable digital micropayments on the Web
              li.answer-box
                label
                  input(type='radio' name='question1' value='function')
                  span It was indicate that the requested content is unavailable until the client fulfils a payment.
              li.answer-box
                label
                  input(type='radio' name='question1' value='global')
                  span All of the above answers.
              li.answer-box
                label
                  input(type='radio' name='question1' value='number')
                  span None of the above answers.

    

        .button-box
          button.view-results#viewResults View Results
          span#myresults.my-results My results will appear here
          span#myresultsDescription.my-results-description Description
