extends base

block content
   main.main
    .containers
      #Section1.tabcontent
        ul.quiz
          li.quiz-box
            h3 1. What is an aspect of a decentralized peer-to-peer network?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question0' value='buffer')
                  span Single point of failure
              li.answer-box
                label
                  input(type='radio' name='question0' value='function')
                  span Trusted third party
              li.answer-box
                label
                  input(type='radio' name='question0' value='global')
                  span CRUD
              li.answer-box
                label
                  input(type='radio' name='question0' value='number')
                  span None of the above

          li.quiz-box
            h3 2. According to the Bitcoin whitepaper, Bitcoin is a
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question1' value='buffer')
                  span Peer-to-peer electronic cash system
              li.answer-box
                label
                  input(type='radio' name='question1' value='function')
                  span Form of digital gold
              li.answer-box
                label
                  input(type='radio' name='question1' value='global')
                  span Proof-of-work
              li.answer-box
                label
                  input(type='radio' name='question1' value='number')
                  span Merkle proof

          li.quiz-box
            h3 3. What is double-spending?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question2' value='buffer')
                  span The process of finding a valid hash, also referred to a cryptographic puzzle
              li.answer-box
                label
                  input(type='radio' name='question2' value='function')
                  span The process of storing and spending bitcoins simultaneously
              li.answer-box
                label
                  input(type='radio' name='question2' value='global')
                  span The act of sending a transaction containing inputs that have been spent, in an attempt to commit fraud on the network
              li.answer-box
                label
                  input(type='radio' name='question2' value='number')
                  span The initiation of transaction requests in the Bitcoin network

          li.quiz-box
            h3 4. What does the "nemo dat principle" means for Bitcoin?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question3' value='buffer')
                  span Bitcoins cannot be conferred to another person except with the owner's authority
              li.answer-box
                label
                  input(type='radio' name='question3' value='function')
                  span Bitcoins receives its value by government decree
              li.answer-box
                label
                  input(type='radio' name='question3' value='global')
                  span Bitcoin is an exchange value system that is not pegged to anything
              li.answer-box
                label
                  input(type='radio' name='question3' value='number')
                  span Bitcoin is a form of fiat money

          li.quiz-box
            h3 5. What does the block reward consist of?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question4' value='buffer')
                  span Transaction fees within the block
              li.answer-box
                label
                  input(type='radio' name='question4' value='function')
                  span A block subsidy and all transaction fees within the block
              li.answer-box
                label
                  input(type='radio' name='question4' value='global')
                  span A fixed reward of 6.25 bitcoins
              li.answer-box
                label
                  input(type='radio' name='question4' value='number')
                  span An increased chance to mine the next block

          li.quiz-box
            h3 6. What is the Metanet?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question5' value='buffer')
                  span An internet where everyone's data can be accessed for free
              li.answer-box
                label
                  input(type='radio' name='question5' value='function')
                  span The concept of a value-based internet built on Bitcoin SV
              li.answer-box
                label
                  input(type='radio' name='question5' value='global')
                  span A logical evolution of Web 3.0, in which search engines are non-existent
              li.answer-box
                label
                  input(type='radio' name='question5' value='number')
                  span A way to monetize your content on the internet

          li.quiz-box
            h3 7. Which version of the Web is prevalent today?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question6' value='buffer')
                  span Web 1.0
              li.answer-box
                label
                  input(type='radio' name='question6' value='function')
                  span Web 2.0
              li.answer-box
                label
                  input(type='radio' name='question6' value='global')
                  span Web 3.0
              li.answer-box
                label
                  input(type='radio' name='question6' value='number')
                  span Metanet

          li.quiz-box
            h3 8. From what perspective are data and oil comparable?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question7' value='buffer')
                  span Raw data needs to undergo a process of cleaning in order to make it useful
              li.answer-box
                label
                  input(type='radio' name='question7' value='function')
                  span Companies that don't harvest data won't be able to run their operations
              li.answer-box
                label
                  input(type='radio' name='question7' value='global')
                  span Social media companies that harvest massive amounts of data are bigger than oil processing companies
              li.answer-box
                label
                  input(type='radio' name='question7' value='number')
                  span Data run the economy

          li.quiz-box
            h3 9. Why is the current data model not suitable to realize the ambitions of the Metanet?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question8' value='buffer')
                  span Current financial systems do not support microtransactions
              li.answer-box
                label
                  input(type='radio' name='question8' value='function')
                  span Data resides in silos owned by companies which makes them single points of failure
              li.answer-box
                label
                  input(type='radio' name='question8' value='global')
                  span Identity is closely linked and attached with data
              li.answer-box
                label
                  input(type='radio' name='question8' value='number')
                  span All of the above answers

          li.quiz-box
            h3 10. What does blockchain governance refer to?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question9' value='buffer')
                  span It refers to the mining process
              li.answer-box
                label
                  input(type='radio' name='question9' value='function')
                  span It refers to the management of the blockchain operating system 
              li.answer-box
                label
                  input(type='radio' name='question9' value='global')
                  span It refers to the mechanism by which a blockchain network's rules and design is enforced, changed or altered
              li.answer-box
                label
                  input(type='radio' name='question9' value='number')
                  span It refers to access control and rights of network participants

          li.quiz-box
            h3 11. How does blockchain enhance data integrity?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question10' value='buffer')
                  span Every transaction is timestamped at the end of each day
              li.answer-box
                label
                  input(type='radio' name='question10' value='function')
                  span Proof-of-work forces every miner on the network to store the blockchain on their local computer
              li.answer-box
                label
                  input(type='radio' name='question10' value='global')
                  span Every node on the network uses hash power to rewrite the history of the ledger and put all transactions in chronological order
              li.answer-box
                label
                  input(type='radio' name='question10' value='number')
                  span As more transactions are validated by the network, the harder it becomes to alter any previous transactions
          
          li.quiz-box
            h3 12. Which of the following do businesses benefit from when they use the scalable Bitcoin SV blockchain?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question11' value='buffer')
                  span Low transaction fess
              li.answer-box
                label
                  input(type='radio' name='question11' value='function')
                  span No need to worry about drastic protocols changes
              li.answer-box
                label
                  input(type='radio' name='question11' value='global')
                  span Network security
              li.answer-box
                label
                  input(type='radio' name='question11' value='number')
                  span All of the above answers

          li.quiz-box
            h3 13. Using the Bitcoin SV scalable public blockchain, interoperability refers to?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question12' value='buffer')
                  span The bridging of multiple blockchains to allow for separate blockchains to interact with each other
              li.answer-box
                label
                  input(type='radio' name='question12' value='function')
                  span The ability to exchange data seamlessly between different applications and services that are built on top of Bitcoin SV
              li.answer-box
                label
                  input(type='radio' name='question12' value='global')
                  span The opportunity to send and receive coins between different blockchain networks that arises from bridging
              li.answer-box
                label
                  input(type='radio' name='question12' value='number')
                  span Electronic Data Interchange

          li.quiz-box
            h3 14. Which of the following aspects does not lead to more security of the Bitcoin network?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question13' value='buffer')
                  span Ubiquity
              li.answer-box
                label
                  input(type='radio' name='question13' value='function')
                  span Interoperability
              li.answer-box
                label
                  input(type='radio' name='question13' value='global')
                  span Economic opportunity
              li.answer-box
                label
                  input(type='radio' name='question13' value='number')
                  span Proof-of-stake

          li.quiz-box
            h3 15. The Bitcoin protocol is:
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question14' value='buffer')
                  span Proof-of-stake
              li.answer-box
                label
                  input(type='radio' name='question14' value='function')
                  span Proof-of-work
              li.answer-box
                label
                  input(type='radio' name='question14' value='global')
                  span Proof-of-Authority
              li.answer-box
                label
                  input(type='radio' name='question14' value='number')
                  span Delegated proof-of-stake

          li.quiz-box
            h3 16. Exchanges (for example: Kraken) can
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question15' value='buffer')
                  span Vote on POW coins
              li.answer-box
                label
                  input(type='radio' name='question15' value='function')
                  span Vote on POS coins
              li.answer-box
                label
                  input(type='radio' name='question15' value='global')
                  span are regulated and are not allowed to vote
              li.answer-box
                label
                  input(type='radio' name='question15' value='number')
                  span All answers are false

          li.quiz-box
            h3 17. What is the meaning of: “not your keys, not your coin?"
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question16' value='buffer')
                  span Only coins in your non-custodial wallet cannot be confiscated
              li.answer-box
                label
                  input(type='radio' name='question16' value='function')
                  span Coins on a centralized exchange can be confiscated if the exchange controls the wallets
              li.answer-box
                label
                  input(type='radio' name='question16' value='global')
                  span A centralized exchange can be hacked, which could provide the hacker access to your coins
              li.answer-box
                label
                  input(type='radio' name='question16' value='number')
                  span All answers are true

          li.quiz-box
            h3 18. Limited block size means:
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question17' value='buffer')
                  span No bottleneck
              li.answer-box
                label
                  input(type='radio' name='question17' value='function')
                  span Potential network congestion
              li.answer-box
                label
                  input(type='radio' name='question17' value='global')
                  span Predictable fees
              li.answer-box
                label
                  input(type='radio' name='question17' value='number')
                  span All answers are true

          li.quiz-box
            h3 19. Why is unbouded scaling through unlimited block sizes preferred?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question18' value='buffer')
                  span To compete with the VISA network of 2,00 transactions per second and peak periods of 56,000 transactions per second
              li.answer-box
                label
                  input(type='radio' name='question18' value='function')
                  span For the fusion of data and money
              li.answer-box
                label
                  input(type='radio' name='question18' value='global')
                  span Both answers are correct
              li.answer-box
                label
                  input(type='radio' name='question18' value='number')
                  span Both answers are false

          li.quiz-box
            h3 20. BTC:
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question19' value='buffer')
                  span has an unlimited block size
              li.answer-box
                label
                  input(type='radio' name='question19' value='function')
                  span has a limited block size
              li.answer-box
                label
                  input(type='radio' name='question19' value='global')
                  span is scalable on 1 layer
              li.answer-box
                label
                  input(type='radio' name='question19' value='number')
                  span All answers are correct

          li.quiz-box
            h3 21. Why is a set-in-stone protocol preferred?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question20' value='buffer')
                  span For legal reasons
              li.answer-box
                label
                  input(type='radio' name='question20' value='function')
                  span For financial reasons-predictable fees
              li.answer-box
                label
                  input(type='radio' name='question20' value='global')
                  span To copy the success of the TCP/IP protocol
              li.answer-box
                label
                  input(type='radio' name='question20' value='number')
                  span All answers are correct

          li.quiz-box
            h3 22. What is the risk of changing or updating the Bitcoin protocol?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question21' value='buffer')
                  span Possibility of a halving
              li.answer-box
                label
                  input(type='radio' name='question21' value='function')
                  span Possibility of a fork
              li.answer-box
                label
                  input(type='radio' name='question21' value='global')
                  span Possibility of increased mining security
              li.answer-box
                label
                  input(type='radio' name='question21' value='number')
                  span Possibility of invasion

          li.quiz-box
            h3 23. What is the risk of changing or updating the Bitcoin protocol?
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question22' value='buffer')
                  span Possibility of rewriting an application
              li.answer-box
                label
                  input(type='radio' name='question22' value='function')
                  span Possibility of a new bug in an application
              li.answer-box
                label
                  input(type='radio' name='question22' value='global')
                  span Both answers are false
              li.answer-box
                label
                  input(type='radio' name='question22' value='number')
                  span Both answers are correct

          li.quiz-box
            h3 24. Obeying an order, rule or request is:
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question23' value='buffer')
                  span Compliance
              li.answer-box
                label
                  input(type='radio' name='question23' value='function')
                  span Enforcement
              li.answer-box
                label
                  input(type='radio' name='question23' value='global')
                  span A hard fork
              li.answer-box
                label
                  input(type='radio' name='question23' value='number')
                  span Proof-of-stake

          li.quiz-box
            h3 25. Bitcoin transactions are:
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question24' value='buffer')
                  span Anonymous
              li.answer-box
                label
                  input(type='radio' name='question24' value='function')
                  span Pseudonymous
              li.answer-box
                label
                  input(type='radio' name='question24' value='global')
                  span Deleted after each update
              li.answer-box
                label
                  input(type='radio' name='question24' value='number')
                  span Stored by miners only

          li.quiz-box
            h3 26. Law enforcement needs a court order
            ul.choices
              li.answer-box
                label
                  input(type='radio' name='question25' value='buffer')
                  span That's true in the legacy banking system
              li.answer-box
                label
                  input(type='radio' name='question25' value='function')
                  span That's not true for the public ledger
              li.answer-box
                label
                  input(type='radio' name='question25' value='global')
                  span Both answers are correct
              li.answer-box
                label
                  input(type='radio' name='question25' value='number')
                  span Both answers are false


        .button-box
          button.view-results#viewResults View Results
          span#myresults.my-results My results will appear here
          span#myresultsDescription.my-results-description Description
