extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forget Password
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        label.form__label Enter your registered email adderss to send your reset password link.
        
        .form__group
          a.button.btn.btn--green(href='/resetPassword') Send
          a.button.btn.btn--green(href='/resetPasswordForm') Reset